<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.op.member.dao.mapper.MemberMapper">

	<select id="selectByIdPw" 
			resultType="com.bitcamp.op.member.domain.Member"
			parameterType="com.bitcamp.op.member.domain.LoginParams">
		select * from member where userid=#{uid} and password=#{pw}
	</select>
	
	<!-- int => 별칭 => Integer  -->
	<select id="selectTotalCount" resultType="int">
		select count(*) from member
	</select>
	
	<select id="selectList"
			parameterType="com.bitcamp.op.member.domain.SearchParams"
			resultType="com.bitcamp.op.member.domain.Member">
	select * from member order by idx desc limit #{index},#{count}
	</select>
	
	<insert id="insertMember"
			parameterType="com.bitcamp.op.member.domain.MemberRegRequest"
			useGeneratedKeys="true"
			keyProperty="idx">
	
	INSERT INTO member (userid, password, username, photo)
 	 VALUES (#{userid},#{pw},#{username},#{fileName})
	
	</insert>
	
	<!-- 파라미터가 하나이고 기본형 또는 문자열일때 -> parameterType 생략  -->
	<select id="selectByIdx"
			resultType="com.bitcamp.op.member.domain.Member">
	
	select * from member where idx=#{idx}
	
	</select>
	
	
	
	
	
	
	
	
	
</mapper>