<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.hgs.board.dao.BoardDao">s

	<select id="selectList"
			resultType="com.bitcamp.hgs.board.domain.PageView">
			
		select 
			board_idx, 
			title, 
			content,
			create_date,
			edit_date,
			delete_date,
			exists
		from 
			BoardListView 
		limit #{param1}, #{param2}
	
	</select>
	
	</mapper>