<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
	
	<configuration>
	  
		<settings>
		    <!-- db column 의 xx_yy 형식을 camelCase xxYY 형식으로 자동 매핑 -->
		    <setting name="mapUnderscoreToCamelCase" value="true" /> 
			<setting name="jdbcTypeForNull" value="NULL" />
				
			<!-- select 후 반환 값 null 허용 -->
			<setting name="callSettersOnNulls" value="true"/>
			<setting name="returnInstanceForEmptyRow" value="true"/>

		</settings>
		
		<mappers>
			<mapper class="com.bitcamp.hgs.home.dao.BreedDao" />
		</mappers>

		
	
	</configuration>