body {
		height: 2000px;
		padding-top: 150px;
		background-image:
		url('${pageContext.request.contextPath}/uploadfile/civa.jpg');
}

.my-3 {
	margin-top: 200px;
	padding-top: 200px;
	/* 	border: 3px solid black; */
	height: 700px;
	width: 400px;
	
	margin-left : 360px;
}

.main {
	margin-top: 400px;
	padding-top: 500px;
}

.member-info-container{
	width: 900px;
	border: 1px solid red;
	border-radius: 20px;
	padding-left : 20px;
}

.member-info_title{
	display: flex;
	justify-content: space-between;
	
}



