body {
	height: 2000px;
	background-color: #ffe395;
	padding-top: 50px;
	/* 	padding-left: 100px; */
	background-image:
		url('${pageContext.request.contextPath}/uploadfile/civa.jpg');
	backdrop-filter: blur(4px);
}

#header {
	font-size: 45px;
	font-weight: bolder;
	
	text-align: center;
	
	color: black;
}

.my-3 {
	width : 450px;
	height : 1000px;
	
	margin-left : 300px;
	
	border : 1px solid white;
	
	border-radius : 15px;
	
}

